[Unit]
Description=Collect modem metrics into the textfile directory
Documentation=https://github.com/ambrosiobing/embedded-linux
After=ModemManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/lte-exporter
